.storeContainer {
  padding: 2rem;
  text-align: center;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comingSoonText {
  margin-top: 1rem;
  color: var(--text-muted);
}
