.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border-radius: 50%;
    border-top: 3px solid var(--accent-primary);
    border-right: 3px solid transparent;
    animation: spin 1s linear infinite;
}

.sm .spinner {
    width: 16px;
    height: 16px;
    border-width: 2px;
}

.md .spinner {
    width: 24px;
    height: 24px;
    border-width: 3px;
}

.lg .spinner {
    width: 48px;
    height: 48px;
    border-width: 4px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
